@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=optional");

:root {
  --color-primary: #fdbb10;
}

html {
  background-color: #fbece4;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Unbounded", cursive;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 4rem;
  }
}

a {
  text-decoration: none;
}

/* Typography */
h2,
p {
  line-height: 1.5;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

/* Button */
.btn {
  border-radius: 2rem;
  display: block;
  padding: 0.5rem 3rem;
  text-align: center;
}

.btn--container {
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
}

#next__icon {
  display: block;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .btn {
    display: inline-block;
  }
}
