@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=optional");

:root {
  --color-primary: #fdbb10;
  --color-tertiary: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fbece4;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Unbounded", cursive;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 4rem;
  }
}

a {
  text-decoration: none;
}

/* Typography */
h2,
p {
  line-height: 1.5;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

/* Button */
.btn {
  border-radius: 2rem;
  display: block;
  padding: 0.5rem 3rem;
  text-align: center;
}

.btn--container {
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
}

#next__icon {
  display: block;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .btn {
    display: inline-block;
  }
}

/* Choices */
.choices-container {
  margin: auto;
  max-width: 70rem;
}

.choices {
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  position: relative;
}

.choices:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 15px -15px;
  z-index: 1;
}

.choices__radio {
  border: 1px solid #666;
  border-radius: 1rem;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
}

.default--choices {
  background-color: var(--color-tertiary);
}

.selected {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.selected .choices__radio {
  background-clip: content-box;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  padding: 0.2rem;
}
